<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">

        <li class="active">
          <a href="#">Arts</a>
        </li>

        <li>
          <a href="#">Deco</a>
        </li>

        <li>
          <a href="#">Bijoux</a>
        </li>

        <li>
          <a href="#">Femme</a>
        </li>

        <li>
          <a href="#">Homme</a>
        </li>

        <li>
          <a href="#">Enfants</a>
        </li>

        <li>
          <a href="#">Vintage</a>
        </li>

        <li>
          <a href="#">Trucs bien Moches</a>
        </li>

      </ul>
    </div>

    <div class="col-sm-9">
      <div class="row">
        <%  @articles.each do |article| %>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img data-src="holder.js/100x100" alt="mettre une photo">
              <div class="caption">
                <h3>Premiere Photo</h3>
                <p><%= article.title %>  <%= article.price %></p>
                <p>
                  <a href="#" class="btn btn-primary" role="button">Button</a>
                   <a href="#" class="btn btn-default" role="button">Button</a>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
