<%  @articles.each do |article| %>

  <h2><%= article.title %></h2>

  <h3>Description</h3>
  <%= article.description %>

  <h3>Prix en Euros</h3>
  <%= article.price %>

  <h3>Quantité disponible</h3>
  <%= article.quantity %>

<% end %>

