<div>
  <div><%= shopping_cart_item.item.title %></div>
  <div><%= shopping_cart_item.item.price %></div>


<%= link_to remove_from_cart_path(:article_id) do %><button class="btn btn-info">virer <i class="fa fa-credit-card"></i></button><% end %>

</div>


